#input{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
#input-body{
    display:flex;
    height:80%;
    gap:20px;
    justify-content: space-evenly;
    width: 96%;

}
#ta{
    width: 50%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    padding:5px 8px 5px 8px;
    background-color: #D8C4B6;
    border-radius: 4px;

    font-family: 'poppins';
    border: 1px solid #da894f67;
    text-align: justify;

}
#ta::placeholder{
    opacity: 0.8;
}
#ta:focus-visible{
    outline: 1px solid #da894fb9
}
.btn{
    padding:5px;  
    transition-duration: 0.1s;
    cursor:pointer;
    font-family: inherit;
   font-weight: 600;
   color:white;
   background-color: #da894f;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   font-size: 14px;
}
.btn:active{
    transform: scale(0.9);
}
#prescription{
    text-align: left;
    background-color: white;
    padding:20px;
    width: 50%;
    overflow-y: scroll;


}
#title{
    text-align: center;

    text-decoration: underline;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#content{
    text-align: justify;
    font-family: 'Liu Jian Mao Cao';
    font-size: 18px;
}
hr{
    opacity:0.7;
    width:100%
}
@media screen and (max-width:1000px) {
    #input{
        height:70%
    }
   #input-body{
       flex-direction: column;
       align-items: center;
       gap:0px
   }
   #prescription,#ta{
       width: 90%;
       padding: 0;
   }
}
