#input{
   padding: 10px 5px ;
   height: auto;

}
#input-body{
    display:flex;
    height:100%;
    width: 100%;
    gap:5px;
    justify-content: center;
    flex-direction: column;
    align-items:center ;

}
#initial-body{
    display:flex;
    height:50vh;
    width: 100%;
    gap:5px;
    justify-content: center;
    margin-top: 5%;
}

#text-input{
    width: 50%;
    height:50vh
}
#initial-input{
    width:50%;
    height: 80%;
    
}
#intro{
    color:#EEEEEE;
    font-size: 17px;
    font-family: 'Fira sans';
    text-align: justify;
 
}
#ta{
    width: 97%;
    height: 10%;
    font-weight: 500;
    color: #DDDDDD;
    font-size: 15px;
    padding:5px 8px 5px 8px;
    background-color: #444444;
    border-radius: 4px;
    font-family: 'poppins';
    border: 1px solid #AAAAAA;
    
}
#ta::placeholder{
    color:#AAAAAA
}
#ta:focus-visible{
    outline: 1px solid #BBBBBB
}
.btn{
    padding:5px;  
    transition-duration: 0.1s;
    cursor:pointer;
    font-weight: 700;
    color:white;
    background-color: #2b2a2aa9;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Fira Sans';
    margin-top: 10px;
}
.btn:active{
    transform: scale(0.9);
}
#prescription{
    text-align: left;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../medical-logo.png');
    padding:12px;
    width: 50%;  
  font-family: "poppins";
    background-repeat: no-repeat;
    background-position: center center;

    
}

#title{
    text-align: center;
    text-decoration: underline;
}
#header{
    display: flex;
    justify-content: space-between;
    font-family:'sans-serif'
}
.highlighted{
    color:#1181a0;
    font-weight: 600;
}
#m-logo{
    align-self: center;
}
#patient-info{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.info{
    display: flex;
    flex-direction: column;
    gap:12px;
    font-size: 14px;
}
ul{
    padding:2px 20px;
    margin: 0;
}
.bold{
    font-weight: bold;
}
#date{
    font-size: 14px;
    font-weight: bold;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 14px;
}
.col{
    padding-left: 15px;
    border-bottom: 1px solid black;
}
.row{
    padding-left: 15px;
}
.grid-container-two{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 14px;
}
#sign{
    display:flex;
    align-items: flex-end;
    flex-direction: column;
}
#sign>span{
    font-weight: bold;
}
hr{
   
    width:100%
}
@media screen and (max-width:1000px) {
    #input{
        height:100%;
     
    }
   #input-body{
       flex-direction: column;
       align-items: center;
       gap:50px
   }
  
  #initial-input{
      width:90%
  }
   #prescription,#ta{
       width: 97%;
       margin-top: 50px;
   }
}
