#navbar{
    display: flex;
    align-items:center;
    padding:20px 30px;
    color:white;
    gap:5px;
    background-color: #da894f;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.411);
}
#navbar>h2{
    margin:0;
}