#navbar{
    display: flex;
    align-items:center;
    padding:15px 30px;
    color:white;
    gap:5px;
    background-color: #2b2a2aa9;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.21);
}
#navbar>a{
    margin:0;
    font-size:22.5px;
    color:white;
    text-decoration: none;
}
@media screen and (max-width:500px) {
    #navbar{
        justify-content: center;
    }
}